<div class="col-md-6 offset-md-3">
  <div class="bg-secondary bg-gradient w-auto p-3 d-grid gap-5">
    <h1>Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <br/>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <br/>
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-dark"  %>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
